// HomePage Styles
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  nav {
    a {
      padding: 5px 20px;
      font-size: 1.5rem;
      border-radius: 8px;
      line-height: 1.5rem;

      &:hover {
        text-decoration: none;
        background-color: #e5f1ff;
      }
    }
  }
}

// MoveAroundPage Styles

.move {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a a b";

  .container {
    grid-area: a;
    width: 100%;
    height: 100%;
    border: 2px solid #222;
    border-radius: 2px;
    position: relative;
  }

  .add-card-form {
    grid-area: b;
    width: 100%;
    height: fit-content;
    border-radius: 2px;
    border: 2px solid #222;
    padding: 10px;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      button {
        margin: 10px 0;
      }

      .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5px 0;

        label {
          margin-bottom: 5px;
        }

        &-sub {
          border: solid 1px #999;
          border-radius: 2px;
          padding: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          &-sub {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            label {
              margin: 0;
              padding-left: 2px;
              font-size: 0.8rem;
            }

            input {
              width: 90%;
            }
          }
        }
      }
    }
  }

  .card {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: move;

    p,
    input[type="text"] {
      text-transform: uppercase;
      padding: 0;
      border: none;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      outline: none;
    }

    input[type="text"] {
      background-color: #fff;
    }
  }
}

// Media Queries
@media (max-width: 900px) {
  .move {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "b"
      "a"
      "a"
      "a";
  }
}
